<!-- <footer class="main-footer" [style.width]="isOpen? 'calc(100vw-250px)':'calc(100vw-50px)'" >
    <strong>Copyright &copy; {{currentYear}}, AWASH BANK.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
    <b>Awash FMS</b> 
    </div>
</footer> -->

<mat-toolbar  class="footer-toolbar">
    <span>© {{currentYear}}, AWASH BANK, All rights reserved.</span>
    <span class="spacer"></span>
    <span class="float-right d-none d-sm-inline-block">
        <b>Awash FMS</b></span>
  </mat-toolbar>