mat-sidenav-container {
  display: flex;
  flex-grow: 1;
  margin-top: 15px; /* Same height as toolbar */
  height: calc(100vh - 64px); /* Take remaining height */
  overflow: hidden; /* Prevent unwanted scrolling */

}

/* Toolbar styles */
mat-toolbar {
  background-color: #21205f;
  color: #fff;
  position: sticky; /* Fixes the toolbar to the top */
  top: 0; /* Aligns it to the top */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Full width */
  z-index:1020;
 /* Ensures it appears above other content   z-index: 1020; */
  margin-bottom:auto;
}
.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}
.toolbar-left {
  display: flex;
  align-items: center;
}

.toolbar-right {
  display: flex;
  align-items: center;
}
/* End toolbar styling */

/*mat-sidevnav styles*/



/*mat-sidenva styling end*/
mat-sidenav{
  overflow-y: auto; /* Enables independent vertical scrolling */
  height: calc(100vh-64px);
  background: #f4f4f4;

}
/* mat-sidenav-content styles*/
mat-sidenav-content {
  flex-grow: 1;
  overflow: auto; /* Enables independent vertical scrolling */
  height: 100vh;
  padding: 16px;
  width:100%;


}
/*End of mat-sidenav-content styles*/

/*Media Queries*/
@media (min-width: 768px) {

}
@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
/*End of Media Queries*/
